.lightbox-overlay {
    position: fixed;
    top: 0; left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 5;

    width: 100vw; height: 100vh;

    background-color: rgba(38, 50, 56, .85);  /* Blue Grey 900 */
}

.lightbox {
    display: flex;
    flex-direction: column;

    width: 40em;
    padding: 1em 2em;

    background-color: #fafafa;  /* Grey 50 */

    box-shadow: 5px 5px 20px #263238;  /* Grey 900 */
}

.lightbox > * {
    margin: .5em 0;
}

.lightbox-title {
    font-size: 1.25em;
}

/** ********** LABELS ********** */

.lightbox-label {
    display: flex;
    flex-direction: column;
}

.lightbox-label > * {
    margin: .25em 0;
}

.lightbox-label > span {
    color: #9E9E9E;  /* Grey 500 */
}

.lightbox-label > input {
    border-style: none none solid none;
    background-color: inherit;
    font-size: 1em;
}

.lightbox-label > input:focus {
    border-bottom: 2px solid #212121;  /* Grey 900 */
}

/** ********** BUTTON ********** */

.lightbox-btn-row {
    padding: .5em;
    text-align: right;
}

.lightbox-btn {
    display: inline;

    margin: .25em .5em;
    padding: .5em 1em;

    font-weight: bold;

    border-radius: 4px;

    user-select: none;
    cursor: pointer;
}

.lightbox-btn:hover { background-color: #EEEEEE; }  /* Grey 200 */
.lightbox-btn:active { background-color: #E0E0E0; }  /* Grey 300 */

.lightbox-btn.standard { color: rgba(71, 103, 85, 1); }  /* From Paletton */
.lightbox-btn.grey { color: #9E9E9E; }  /* Grey 500 */
.lightbox-btn.disabled { color: rgba(84, 110, 122, .3); }