/** ********** ARTICLE EDITOR'S CONTROL PANEL ********** **/

#cp-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cp-divider {
    display: block;
    margin: .25em;
}

/** ********** ARTICLE EDITOR'S CONTROL PANEL BUTTONS ********** **/

.cp-btn {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: .25em;

    user-select: none;
    cursor: pointer;
}

.cp-btn-tt {
    position: absolute;
    bottom: 2.75em;

    padding: .5em;

    border-radius: 2px;

    background-color: #424242;  /* Grey 800 */

    text-align: center;
    color: #fafafa;  /* Grey 50 */
    font-size: 0.5em;
}
