/** ********** ********** ********** ********** **/

/** ********** BUTTON ********** **/



/** ********** ********** ********** ********** **/

/** ********** CONTROL PANEL ********** **/

#cpanel {

}

/** ********** ********** ********** ********** **/

/** ********** CONSOLE ********** **/

#console-window > div {
    /* contenteditable */
    width: 100%; height: 100%;

    font-family: 'PT Mono', 'monospace';
    font-size: .66em;
    color: #fafafa;

    overflow: scroll;
    overflow-wrap: break-word;
}

#console-window > div:focus {
    /* contenteditable element */
    outline: 0;
}

#console-window {
    width: 20em; height: 20em;
    padding: .5em;

    background-color: #263238;  /* Blue Grey 900 */
}

/** ********** ********** ********** ********** **/



#dashboard-page {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%; min-height: 100vh;

    background-color: #212121;  /* Grey 900 */
}