.btn {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: .25em;

    user-select: none;
    cursor: pointer;
}

.btn.large { font-size: 200%; }
.btn.x-large { font-size: 400%; }

.btn.green600 { background-color: #43A047 }

.btn-tt {
    position: absolute;
    bottom: 2.75em;

    padding: .5em;

    border-radius: 2px;

    background-color: #424242;  /* Grey 800 */

    text-align: center;
    color: #fafafa;  /* Grey 50 */
    font-size: 0.5em;
}
